body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
  padding-bottom: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(237, 237, 237);
}

ul,
ol {
  list-style: none;
  counter-reset: myList;
  padding: 0;
  margin: 0;
}

ul li::before {
  content: counter(myList) "";
  counter-increment: myList;
  background-color: #79b6ec;
  width: 20px;
  margin-bottom: 5px;
  border-radius: 50%;
  margin-right: 7px;
  text-align: center;
  display: inline-block;
  padding: 5px;
  color: #fff;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}
